<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link zum Zurücksetzen Ihres Passwortes angefordert. Sie können dies über den Link im unteren Bereich durchführen.</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn Sie diese Änderung nicht beauftragt haben, dann ignorieren Sie bitte dies E-Mail.</p>
<p>Ihr Passwort wird sich nicht ändern, solange Sie nicht den obigen Link benutzen und es ändern.</p>
