<p id="notice"><%= notice %></p>

<p>
  <b>Entry:</b>
  <%= @hardware_history_log.entry %>
</p>


<%= link_to 'Edit', edit_hardware_history_log_path(@hardware_history_log) %> |
<%= link_to 'Back', hardware_history_logs_path %>
